.footer {
    background-color: #181818;
    &__container {
        padding-top: rem(60);
        padding-bottom: rem(75);
        @media (max-width: $tablet) {
            text-align: center;
            padding-bottom: rem(20);
            padding-top: rem(20);
        }
    }

    &__menu {
        font-family: "Gotham";
        font-weight: 500;
        font-size: rem(18);
        line-height: 1;
        letter-spacing: 0.05em;
        color: #ffffff;
        @include adaptiveValue("font-size", 18, 12);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(45);
        line-height: 1;
        letter-spacing: -0.005em;
        position: relative;

        @media (max-width: $tablet) {
            flex-direction: column;
            gap: rem(20);
            margin-bottom: rem(20);
        }
    }

    &__title {
        font-weight: 900;
        @include adaptiveValue("font-size", 30, 14);
    }

    &__social {
        @media (min-width: $tablet) {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(40);
        font-size: rem(25);
    }

    &__social-link {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #4000f7;
            }
        }
    }

    &__mail {
        font-weight: 450;
        text-transform: lowercase;
        @include adaptiveValue("font-size", 22, 12);
    }

    &__mail-link {
    }
    .menu {
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__mobile {
        li {
            list-style-type: none;
            padding: rem(5) rem(15);
            background: rgba(116, 9, 166, 0.2);
            border: 1px solid #7409a6;
            border-radius: rem(100);

            &:first-child {
                grid-area: 1;
            }
            &:nth-child(2) {
                grid-area: 2;
            }
            &:nth-child(3) {
                grid-area: 3;
            }
            &:nth-child(4) {
                grid-area: 4;
            }
            &:last-child {
                grid-area: 5;
            }
        }
        a {
            font-size: rem(14);
        }
        &-top {
            margin-bottom: rem(15);
        }
        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
}
