//====================================================================================================
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0F0F0F;
	height: 100vh;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.48) 100%), url(@img/headerbg.png) center/cover no-repeat;
		@media (min-width:em(1200)){
			animation: headerbg 15s ease-in-out 0s infinite;
		}
		z-index: 1;
	}
	&__content{
		z-index: 2;
		text-align: center;
		text-transform: uppercase;
	}
	&__container {

	}

	&__menu {
	}
	&__title-decor{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		font-weight: 900;
		@include adaptiveValue("font-size", 30, 11);
		font-size: rem(30);
		letter-spacing: 0.06em;
		line-height: 250%;
		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: rem(100);
			z-index: -1;
			animation: headertitle ease-in-out 0s infinite;
		}
		&::after{
			content: "";
			position: absolute;
			z-index: -1;
			@include adaptiveValue("width", 100, 35);
			@include adaptiveValue("height", 100, 35);
		}
		&:first-child{
			filter: drop-shadow(0px 20px 30px rgba(150, 89, 2, 0.5));
			transform-origin: bottom right;
			right: 0;
			padding: 0 rem(40);
			@include adaptiveValue("padding-left", 40, 15);
			@include adaptiveValue("padding-right", 40, 15);
			@media (min-width:em(1200)){
				top: calc(-50%);
				transform:  rotate(-4deg);
			}
			@media (max-width:em(1200)){
				bottom: -40%;
				right: 10%;
				transform: rotate(1.27deg);
			}
			&::before{
				top: 0;
				right: 0;
				background-color: #D38312;
				animation-duration: 3s;
			}
			&::after{
				@include adaptiveValue("width", 120, 45);
				@include adaptiveValue("height", 120, 45);
				top: calc(-50%);
				left: calc(25%);
				transform: rotate(4.78deg);
				background: url(@img/star.svg) center / contain no-repeat;
				z-index: -1;
			}
		}
		&:last-of-type{
			left: 0;
			@include adaptiveValue("padding-left", 40, 15);
			@include adaptiveValue("padding-right", 40, 15);
			filter: drop-shadow(0px -20px 30px rgba(64, 0, 247, 0.3));
			transform-origin: bottom left;
			@media (min-width:em(1200)){
				bottom: calc(-50%);
				transform: rotate(5deg);
			}
			@media (max-width:em(1200)){
				top: -5%;
				left: 5%;
				transform: rotate(-14.74deg);
			}
			&::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				animation-duration: 5s;
				background-color: #4000F7;
			}
			&::after{
				top: -20%;
				left: 20%;
				background-color: #4000F7;
				border-radius: 50%;
			}
		}
	}
	&__title-box {
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 150, 40, 1920, 360);
		line-height: 1;
		letter-spacing: -0.005em;
		@include adaptiveValue("margin-bottom", 21, 53);
		position: relative;
		span{
			display: block;
			animation: headertitleshow 2s ease 0s 1;
		}
	}

	&__subtitle {
		margin: 0 auto;
		font-family: 'Gotham';
		font-weight: 500;
		font-size: rem(22);
		@include adaptiveValue("font-size", 22, 12);
		line-height: 131.5%;
		@include adaptiveValue("margin-bottom", 50, 16);
		animation: headersubtitleshow 2s ease 0s 1;

	}

	&__action-btn {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: rem(20);
		line-height: 131.5%;
		padding: rem(21) rem(144);
		@include adaptiveValue("padding-top", 21, 14);
		@include adaptiveValue("padding-bottom", 21, 14);
		@include adaptiveValue("padding-left", 144, 103);
		@include adaptiveValue("padding-right", 144, 103);
		border: 1px solid #FFFFFF;
		border-radius: 100px;
		position: relative;
		overflow: hidden;
		transition: color 0.8s ease 0s;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: transform 0.8s ease 0s, border-radius 0.5s ease 0.2s;
			background-color: rgb(255, 255, 255);
			z-index: -1;
			transform: translateY(101%);
			border-radius:  50% 50% 0 0;
		}

		&::after{
			@extend %ic;
			content: "\e904";
			margin-left: rem(20);
			font-size: rem(20);
			transform: rotate(-45deg);
			transform-origin: center;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba(0, 0, 0, 0.9);
				&::before{
					border-radius:  0;
					transform: translateY(0%);
				}
			}
		}
	}

	&__social {
		display: flex;
		margin-top: rem(25);
		gap: rem(35);
		align-items: center;
		justify-content: center;
	}

	&__social-link {
		font-size: rem(40);
		transition: color 0.8s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #4000F7;
			}
		}
	}

	&__subtext {
		max-width: rem(331);
		margin: 0 auto;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: rem(12);
		line-height: 100%;
		margin-top: rem(20);
		color: #B9B9B9;
	}
}
.menu {

	&__icon {
		position: absolute;
		@media (min-width:em(1200)){
			left: rem(100);
		}
		@media (max-width:em(1200)){
			right: rem(15);
		}
		top: rem(40);
		width: rem(64);
		height: rem(64);
		border: 1px solid #FFFFFF;
		padding: rem(17);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: background-color 0.8s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #FFFFFF;
				.icon-menu {
					span,
					&::before,
					&::after {
						background-color: #000;
					}
				}
			}
		}
	}

	&__body {
	}

	&__list {
	}

	&__item {
	}

	&__link {
	}
}


//========================================================================================================================================================

@keyframes headerbg{
	0%{
		background-size: 100%;
	}
	50%{
		background-size: 200%;
	}
	100%{
		background-size: 100%;
	}
}
@keyframes headertitle{
	0%{
		transform: scaleX(1);
	}
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
@keyframes headertitleshow{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes headersubtitleshow{
	0%{
		transform: translateY(-200%);
	}
	100%{
		transform: translateY(0);
	}
}
//========================================================================================================================================================

//Burger

.icon-menu {
	display: block;
	position: relative;
	flex: rem(30);
	height: rem(18);
	z-index: 7;
	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		border-radius: 1px;
		height: rem(3);
		background-color: #fff;
		animation: header-btn-anim 5s linear infinite;
	}
	span {
		width: 100%;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: calc(50% - rem(1));
	}
	.menu-open & {
		span {
			width: 0;
		}
		&::before,
		&::after {
			width: 100%;
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}
	
}
